{
    "swagger": "2.0",
    "info": {
        "title": "Episode Api's",
        "description": "Swagger creates human-readable documentation for your APIs.",
        "version": "1.0.0"
    },
    "host": "episodicserver.ignivastaging.com",
    "basePath": "/api",
    "schemes": [
        "http"
    ],
    "paths": {
        "/admin/getFaqs": {
            "get": {
                "tags": [
                    "ADMIN PAGE APIS"
                ],
                "summary": "get all FAQ data",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/viewFaq": {
            "get": {
                "tags": [
                    "ADMIN PAGE APIS"
                ],
                "summary": "get single FAQ data",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "faq id",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/createFaq": {
            "post": {
                "tags": [
                    "ADMIN PAGE APIS"
                ],
                "summary": "create faq",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "createFaq",
                        "schema": {
                            "$ref": "#/definitions/createFaq"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/editFaq": {
            "post": {
                "tags": [
                    "ADMIN PAGE APIS"
                ],
                "summary": "edit faq",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "editFaq",
                        "schema": {
                            "$ref": "#/definitions/editFaq"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/deleteFaq": {
            "post": {
                "tags": [
                    "ADMIN PAGE APIS"
                ],
                "summary": "delete faq",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "deleteFaq",
                        "schema": {
                            "$ref": "#/definitions/deleteFaq"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/getPage": {
            "get": {
                "tags": [
                    "ADMIN PAGE APIS"
                ],
                "summary": "get single page",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "faq id",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/getPages": {
            "get": {
                "tags": [
                    "ADMIN PAGE APIS"
                ],
                "summary": "get all static pages",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/updatePage": {
            "post": {
                "tags": [
                    "ADMIN PAGE APIS"
                ],
                "summary": "admin update page",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "updatePage ,id:->page id,meta_value:->Page content",
                        "schema": {
                            "$ref": "#/definitions/updatePage"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/getAllPermissions": {
            "get": {
                "tags": [
                    "ADMIN PERMISSIONS APIS"
                ],
                "summary": "get all permissions",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "search by name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/createPermissions": {
            "post": {
                "tags": [
                    "ADMIN PERMISSIONS APIS"
                ],
                "summary": "create permissions",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/createPermissions"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/updatePermissions": {
            "post": {
                "tags": [
                    "ADMIN PERMISSIONS APIS"
                ],
                "summary": "update permissions",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/update"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/deletePermissions": {
            "post": {
                "tags": [
                    "ADMIN PERMISSIONS APIS"
                ],
                "summary": "delete permissions",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/deletePermissions"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/viewPermission": {
            "get": {
                "tags": [
                    "ADMIN PERMISSIONS APIS"
                ],
                "summary": "get single permission",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "permission_id",
                        "in": "query",
                        "description": "permission id",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/reportsListing": {
            "get": {
                "tags": [
                    "ADMIN REPORTS APIS"
                ],
                "summary": "report listing",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/getReportDatail": {
            "get": {
                "tags": [
                    "ADMIN REPORTS APIS"
                ],
                "summary": "single report data",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "report_id",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/deleteReport": {
            "post": {
                "tags": [
                    "ADMIN REPORTS APIS"
                ],
                "summary": "Report deleted",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "report_id",
                        "in": "formData",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "deactivate_action",
                        "in": "formData",
                        "description": "0=>only report filed will b removed,1=>user will deactivated and filed fill be removed",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/reviewListing": {
            "get": {
                "tags": [
                    "ADMIN REVIEW APIS"
                ],
                "summary": "review listing",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "search by user",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/reviewDetail": {
            "get": {
                "tags": [
                    "ADMIN REVIEW APIS"
                ],
                "summary": "review detail",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "review_id",
                        "in": "query",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/postReview": {
            "post": {
                "tags": [
                    "ADMIN REVIEW APIS"
                ],
                "summary": "Post review",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "review_id",
                        "in": "formData",
                        "description": "review id",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "status",
                        "in": "formData",
                        "description": "status(1=>approved,2=>declined)",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "reason",
                        "in": "formData",
                        "description": "if rating declined ,then this filed is required",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/getAllRoles": {
            "get": {
                "tags": [
                    "ADMIN ROLES APIS"
                ],
                "summary": "get all roles",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "search by name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/createRoles": {
            "post": {
                "tags": [
                    "ADMIN ROLES APIS"
                ],
                "summary": "create roles",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/createRoles"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/updateRoles": {
            "post": {
                "tags": [
                    "ADMIN ROLES APIS"
                ],
                "summary": "update roles",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/updateRoles"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/deleteRoles": {
            "post": {
                "tags": [
                    "ADMIN ROLES APIS"
                ],
                "summary": "delete roles",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/deleteRoles"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/viewRole": {
            "get": {
                "tags": [
                    "ADMIN ROLES APIS"
                ],
                "summary": "get single permission",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "role_id",
                        "in": "query",
                        "description": "role id",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/getPlans": {
            "get": {
                "tags": [
                    "ADMIN Subscription APIS"
                ],
                "summary": "get all plans data",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/viewPlan": {
            "get": {
                "tags": [
                    "ADMIN Subscription APIS"
                ],
                "summary": "get single plan data",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "plan id",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/createPlan": {
            "post": {
                "tags": [
                    "ADMIN Subscription APIS"
                ],
                "summary": "create Plan",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "createPlan",
                        "schema": {
                            "$ref": "#/definitions/createPlan"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/editPlan": {
            "post": {
                "tags": [
                    "ADMIN Subscription APIS"
                ],
                "summary": "edit Plan",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "editPlan",
                        "schema": {
                            "$ref": "#/definitions/editPlan"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/deletePlan": {
            "post": {
                "tags": [
                    "ADMIN Subscription APIS"
                ],
                "summary": "delete Plan",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "deletePlan",
                        "schema": {
                            "$ref": "#/definitions/deletePlan"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/getAllTransactions": {
            "get": {
                "tags": [
                    "ADMIN TRANSACTION APIS"
                ],
                "summary": "get all Transactions",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/getUsers": {
            "get": {
                "tags": [
                    "ADMIN USER APIS"
                ],
                "summary": "get user data",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "role_id",
                        "in": "query",
                        "description": "user role (0 for all users)",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "search by name and email",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "user_type",
                        "in": "query",
                        "description": "user type (status field in table(active,inactive,not varified))",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "filter by start date in timestemp",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "filter by end date in timestemp",
                        "required": false,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/changeStatus": {
            "post": {
                "tags": [
                    "ADMIN USER APIS"
                ],
                "summary": "change user status (active inactive)",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "change active inactive status,status=>(1->active,2->inactive),id=>(user_id)",
                        "schema": {
                            "$ref": "#/definitions/changeStatus"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/deleteUser": {
            "post": {
                "tags": [
                    "ADMIN USER APIS"
                ],
                "summary": "deleteUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "id=> deleted user id",
                        "schema": {
                            "$ref": "#/definitions/deleteUser"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/userDetail": {
            "get": {
                "tags": [
                    "ADMIN USER APIS"
                ],
                "summary": "get single user detail",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "user id",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/dashboard": {
            "get": {
                "tags": [
                    "ADMIN USER APIS"
                ],
                "summary": "get dashboard",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/admin/download-users": {
            "get": {
                "tags": [
                    "Admin Download Users"
                ],
                "summary": "Download Users",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page",
                        "required": false,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/chat/getPersonalChat": {
            "get": {
                "tags": [
                    "chat"
                ],
                "summary": "getPersonalChat",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "user id",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/chat/getInboxChat": {
            "get": {
                "tags": [
                    "chat"
                ],
                "summary": "getInboxChat",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/chat/sendMessage": {
            "post": {
                "tags": [
                    "chat"
                ],
                "summary": "sendMessage",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "sendMessage",
                        "schema": {
                            "$ref": "#/definitions/sendMessage"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/pages/contact": {
            "post": {
                "tags": [
                    "Pages"
                ],
                "summary": "send contact us",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/contact"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/pages/get-terms-and-conditions": {
            "get": {
                "tags": [
                    "Pages"
                ],
                "summary": "get Terms and condition data",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/pages/getDonation": {
            "get": {
                "tags": [
                    "Pages"
                ],
                "summary": "get Donation",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/pages/aboutus": {
            "get": {
                "tags": [
                    "Pages"
                ],
                "summary": "about us",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/pages/get-privacy-policy": {
            "get": {
                "tags": [
                    "Pages"
                ],
                "summary": "get Privacy Ploicy data",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/pages/sendPageMail": {
            "post": {
                "tags": [
                    "Pages"
                ],
                "summary": "send page mail",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "meta_key:- term,about-us,donation,privacy-policy",
                        "schema": {
                            "$ref": "#/definitions/sendPageMail"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/payment/generateToken": {
            "post": {
                "tags": [
                    "subcribePayment"
                ],
                "summary": "subcribePayment",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/payment/subcribePayment": {
            "post": {
                "tags": [
                    "subcribePayment"
                ],
                "summary": "subcribePayment",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "token",
                        "in": "formData",
                        "description": "Enter stripe token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/story/getAllGenres": {
            "get": {
                "tags": [
                    "Stories"
                ],
                "summary": "getAllGenres",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/story/getMyGenres": {
            "get": {
                "tags": [
                    "Stories"
                ],
                "summary": "getMyGenres",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/story/saveGenres": {
            "post": {
                "tags": [
                    "Stories"
                ],
                "summary": "save genres",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/saveGenres"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/story/getHomePage": {
            "get": {
                "tags": [
                    "Stories"
                ],
                "summary": "getHomePage",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "search",
                        "required": false,
                        "type": "string",
                        "default": "search"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/story/viewStory": {
            "post": {
                "tags": [
                    "Stories"
                ],
                "summary": "view Story",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "episode_id only in case of watch episode,type=>1:story,2:episdoe",
                        "schema": {
                            "$ref": "#/definitions/viewStory"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/story/saveStory": {
            "post": {
                "tags": [
                    "Stories"
                ],
                "summary": "save Story",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/saveStory"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/story/getStories": {
            "get": {
                "tags": [
                    "Stories"
                ],
                "summary": "getStories",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "story_ids",
                        "in": "query",
                        "description": "story_ids",
                        "required": false,
                        "type": "string",
                        "default": "1,2,3"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "search",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "e.g 1,countinue_reading,2 saved, 3, best_rated, 4 ,comming_soon,5=favourites,5=downloads,6=mystories",
                        "required": false,
                        "type": "string",
                        "default": "saved"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "e.g 1:-approved,2:-declined,0:-pending",
                        "required": true,
                        "type": "number",
                        "default": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/story/getStoryDetail": {
            "get": {
                "tags": [
                    "Stories"
                ],
                "summary": "getStoryDetail",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "story_id",
                        "in": "query",
                        "description": "story_id",
                        "required": true,
                        "type": "string",
                        "default": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/story/getWritters": {
            "get": {
                "tags": [
                    "Stories"
                ],
                "summary": "getWritters",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "search",
                        "required": false,
                        "type": "string",
                        "default": "search"
                    },
                    {
                        "name": "is_fav",
                        "in": "query",
                        "description": "0=no,1=yes",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/story/addOrdeleteDownload": {
            "post": {
                "tags": [
                    "Stories"
                ],
                "summary": "addOrdeleteDownload",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "story_id",
                        "in": "query",
                        "description": "story id",
                        "required": true,
                        "type": "number",
                        "default": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/story/deleteStory": {
            "post": {
                "tags": [
                    "Stories"
                ],
                "summary": "deleteStory",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "story_id",
                        "in": "query",
                        "description": "story id",
                        "required": true,
                        "type": "number",
                        "default": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/story/saveAdditionalInfo": {
            "post": {
                "tags": [
                    "Stories"
                ],
                "summary": "save genres",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/saveAdditionalInfo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/story/addStory": {
            "post": {
                "tags": [
                    "Stories"
                ],
                "summary": "add Story",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "image",
                        "in": "formData",
                        "required": false,
                        "type": "file"
                    },
                    {
                        "name": "synopsis",
                        "in": "formData",
                        "required": false,
                        "type": "file"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "name of story",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "story_id",
                        "in": "formData",
                        "description": "used only on edit story",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "about",
                        "in": "formData",
                        "description": "description",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "query_letter",
                        "in": "formData",
                        "description": "query letter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "genre_ids",
                        "in": "formData",
                        "description": "genres ids",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/story/addEpisode": {
            "post": {
                "tags": [
                    "Stories"
                ],
                "summary": "add Story",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "synopsis",
                        "in": "formData",
                        "required": false,
                        "type": "file"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "episode of story",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "about",
                        "in": "formData",
                        "description": "description",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "story_id",
                        "in": "formData",
                        "description": "story id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "episode_id",
                        "in": "formData",
                        "description": "used only on edit episode id",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/story/approve": {
            "post": {
                "tags": [
                    "Stories"
                ],
                "summary": "approve story and episode",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "status=,1=>approved,2decline",
                        "schema": {
                            "$ref": "#/definitions/approve"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/story/storyReport": {
            "get": {
                "tags": [
                    "Stories"
                ],
                "summary": "storyReport",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "start date",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "start date",
                        "required": true,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "description": "year",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "story_id",
                        "in": "query",
                        "description": "story id",
                        "required": true,
                        "type": "string",
                        "default": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/story/weeklyPayment": {
            "get": {
                "tags": [
                    "Stories"
                ],
                "summary": "weeklyPayment",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/user/signUp": {
            "post": {
                "tags": [
                    "COMMON USER APIS"
                ],
                "summary": "user signup",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "user_type = writer or reader, dob = timestemp",
                        "schema": {
                            "$ref": "#/definitions/signup"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/user/login": {
            "post": {
                "tags": [
                    "COMMON USER APIS"
                ],
                "summary": "user login",
                "description": "device_type = IOS or ANDROID,user_type = writer or reader",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "login ",
                        "schema": {
                            "$ref": "#/definitions/login"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/user/sociallogin": {
            "post": {
                "tags": [
                    "COMMON USER APIS"
                ],
                "summary": "social login",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "device_type",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "device_id",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "signup_type",
                        "in": "formData",
                        "description": "Please enter (facebook / gmail).",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "social_id",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/user/logout": {
            "post": {
                "tags": [
                    "COMMON USER APIS"
                ],
                "summary": "logout",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/user/forgotPassword": {
            "post": {
                "tags": [
                    "COMMON USER APIS"
                ],
                "summary": "user forgotPassword",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "forgotpassword",
                        "schema": {
                            "$ref": "#/definitions/forgotpassword"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/user/changePassword": {
            "post": {
                "tags": [
                    "COMMON USER APIS"
                ],
                "summary": "Change Password",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Body",
                        "in": "body",
                        "description": "changepassword",
                        "schema": {
                            "$ref": "#/definitions/changepassword"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/user/getProfile": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "getProfile",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "user id",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "only_user",
                        "in": "query",
                        "description": "if you want only uer data",
                        "required": false,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Failed"
                    },
                    "405": {
                        "description": "Undocumented data"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/user/getComments": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Users",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Enter Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "story_id",
                        "in": "query",
                        "description": "story id",
[...]
